* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content 1fr;
}

svg {
  fill: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:visited {
  color: rgba(240, 248, 255, 0.589);
}

img {
  width: 100%;
}

/*
///////////////////////////////

------------HEADER-------------

///////////////////////////////
 */

header {
  background-color: white;
  box-shadow: 0px 2px 10px lightgray;
  position: relative;
  padding: 1.5rem 3em;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

header svg {
  fill: black;
}

.top-info {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 3rem 15%;
  gap: 1.5rem;
  align-items: center;
}

input {
  height: min-content;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.35);
  margin-right: 15%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 202, 50, 0.75);
  border-radius: 100%;
  padding: 20%;
  aspect-ratio: 1;
}

.bottom-info {
  display: grid;
  grid-template-columns: 6rem 1fr min-content min-content min-content;
  gap: 1.5rem;
  align-items: center;
}
/*
///////////////////////////////

------------SIDEBAR-------------

///////////////////////////////
 */

aside {
  background-color: rgb(206, 83, 67);
  grid-row: 1/-1;
  z-index: 1;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  padding: 1.5rem;
  gap: 4rem;
  color: aliceblue;
}

.main-title {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: 1rem;
  font-size: 1.25rem;
}
.main-title > * {
  display: flex;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
}

.sub-nav {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 1.5rem;
}

.sub-nav > * {
  display: flex;
  align-items: center;
}

.setting {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

button {
  padding: 0.6rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(206, 83, 67);
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}

/*
///////////////////////////////

------------MAIN-------------

///////////////////////////////
 */

main {
  background-color: white;
}
